@charset "UTF-8";

body{
    width: 100vw;
    height: 100vh;
    background-color:#c1987870 ;
}
main {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

header{
    background-color: #b48479ad;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px black;
    height: 13%;
}

div#logo > h1{
    background-color: #997067 ;
    color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
}
#logo:hover{
    cursor: pointer;
}
ul{
    margin-top: 30px;
    display: flex;
    
}
li{
    margin-right: 30px;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
h2{
    margin-left: 35px;
    padding: 20px;
    font-size: 25px;
    color:  #997067;
    font-weight: bold;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#bolinho-de-chuva:hover{
cursor: pointer;
background-color: transparent;
background-image: url(..//atividade-sitevovoreceitas/img/bolinho-de-chuva.jpg);
width: 400px;
height: 263px;



}
#bolinho-de-arroz:hover{
cursor: pointer;
background-color: transparent;
background-image: url(..//atividade-sitevovoreceitas/img/bolinhodearroz.jpg);
width: 400px;
height: 263px;

color: black;
}
#torta-de-morango:hover{
cursor: pointer;
background-color: transparent;
background-image: url(..//atividade-sitevovoreceitas/img/tortademorango.jpeg);
width: 400px;
height: 263px;

}
#torta-de-frango:hover{
   
        cursor: pointer;
        background-color: transparent;
        background-image: url(..//atividade-sitevovoreceitas/img/tortadefrango.jpg);
        width: 400px;
        height: 263px;
}

.secoes{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    width: 330px;
    height: 180px;
    margin: 10px;
    background-color: #997067;
   
}

h3, p{
   
    padding: 40px;
    text-align: center;
    color: whitesmoke;
}

footer{
    height: 13.5%;
    background-color: #b48479ad;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px black;

}
form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
form > label{
    margin-bottom: 5px;
}
.botao{
    margin-top: 3px;
    border-radius: 5px;
    background-color: #5f4a3a6e;
}


